.DS_Store
*.pyc
*.swp
debug
.vscode/*
!.vscode/launch.json
config/*
!config/*config.yaml
!config/config.yaml
models
*.mp4
*.ts
*.db
*.csv
opengate/version.py
web/build
web/node_modules
web/coverage
core
!/web/**/*.ts
.idea/*